<header class="jumbotron subhead" id="overview" style="padding-top: 15%;">
<a href="/"><canvas id="myCanvas" width="380" height="175" onmousemove="handleMouseMove(event)" onmouseout="handleMouseOut()"></canvas></a>
<div class="subnav">
	<ul class="nav nav-pills">
		<li><a href="https://twitter.com/joindiaspora">@joindiaspora</a></li>
		<li><a href="https://github.com/diaspora/diaspora">GitHub</a></li>
		<li><a href="https://hfase.com/blog/archives">Blog</a></li>
		<li><a href="https://hfase.com/source.tar.gz">Code</a></li>
		<li><a href="https://github.com/diaspora/diaspora/wiki/Changelog">What's New?</a></li>
	</ul>
</div>
</header>