<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
		<a class="pull-right btn btn-success" href="/users/sign_in">Login</a>
      	<a class="brand" href="/">hfase.com</a>
      <div class="nav-collapse">
        <ul class="nav">
		<li><a href="/blog/archives">Blog</a></li>
		</ul>
      </div>       
     <form class="pull-right navbar-search" action="http://google.com/search" method="get">
        <fieldset role="search">
          <input type="hidden" name="q" value="site:hfase.com" />
          <input class="search-query" type="text" name="q" results="0" placeholder="Search"/>
        </fieldset>
      </form>        
    </div>
  </div>
</div>
